<div class="container-fluid footer">
    <hr>
    <div class="container">
        <p>
            &copy; {date("Y")} - <a target="_blank" href="http://github.com/DavidPuzder/NetteLearning">github/DavidPuzder/NetteLearning</a>
        </p>
    </div>
</div>