<div class="category-show-image">
    <img src="{$basePath}/images/category/{$category->id}/{$category->image}" alt="{$category->description}">
    <div class="category-text">
        <h1>{$category->title}</h1>
        <h2>{$category->description}</h2>
    </div>
</div>